<app-header></app-header>

<main class="main">
  <div class="content">
    <!-- Divide the content in three columns, 25%, 50%, 25% -->

     <!-- Left column contains the image menu, edit, download and remove image, as well as image preview -->
    <div class="left-column" [class.show]="isLeftColumnOpen">
      
      <!-- Opening button for the left column on smaller screens -->
      <button aria-label="open-left-column-button" class="open-left-column-button drawer-button" (click)="toggleLeftColumn()" *ngIf="selectedImage">
        <mat-icon>{{ isLeftColumnOpen ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right' }}</mat-icon>
      </button>

      <left-column  [isActive]="isLeftColumnOpen" (clickOutside)="onOutsideClick()"></left-column>
    </div>

     <!-- Center column contains the main grid component -->
    <div class="center-column">
      <app-grid></app-grid>
    </div>

     <!-- Right column contains the image import elements, as well as image library -->
    <div class="right-column" [class.show]="isRightColumnOpen"> 

      <!-- Opening button for the left column on smaller screens -->
      <button aria-label="open-right-column-button" class="open-right-column-button drawer-button" (click)="toggleRightColumn()">
        <mat-icon>{{ isRightColumnOpen ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left' }}</mat-icon>
      </button>

      <right-column [isActive]="isRightColumnOpen" (clickOutside)="onOutsideClick()"></right-column>
    </div>

    <import-prompt
      *ngIf="showImportPrompt"
      [image]="modalImage"
      (close)="closeImportPrompt()">
    </import-prompt>

    <!-- Backdrop modal for mobile -->
    <div class="modal-backdrop" *ngIf="isLeftColumnOpen || isRightColumnOpen"></div>

    <!-- Image picker -->
    <div class="image-picker">
        <button aria-label="add-image-button" matButton="elevated" class="add-image-button" (click)="importImages()">Add image<mat-icon class="add-icon">add</mat-icon></button>
    </div>
  </div>
</main>
<router-outlet />
