@use '@angular/material' as mat;
@use "./app/styles/theme-colors" as theme-colors;

// @include mat.core();


/* Define palettes */
$primary: theme-colors.$primary-palette;
$tertiary: theme-colors.$tertiary-palette;

/* Create light and dark themes */
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $primary,
    tertiary: $tertiary,
  ),
  typography: (
    plain-family: Roboto,
  ),
  density: (
    scale: 0
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $primary,
    tertiary: $tertiary,
  ),
  typography: (
    plain-family: Roboto,
  ),
  density: (
    scale: 0
  )
));

:root{
  @include mat.all-component-themes($light-theme);

  --theme-red: #f44336;
  --theme-green: #4caf50;
  --theme-accent: #7eacef;
}

:root,
.light-theme{
  @include mat.all-component-colors($light-theme);

  
  --theme-background-level-0: #faf9fd;
  --theme-background-level-1: #ffffff;
  --theme-font-color: #181818;
}

.dark-theme{
  @include mat.all-component-colors($dark-theme);

  --theme-background-level-0: #181818;
  --theme-background-level-1: #242424;
  --theme-font-color: #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}