<!-- This element is a grid, 3 columns large of elements of aspect ratio 1080:1350 -->
<style>
    .grid{
        height: 100%;
        display: flex;
        width: 90%;
        justify-self: center;
    }

    .grid-item-content--selected {
        border: 3px solid rgb(163, 0, 0);
        box-sizing: border-box;
    }

    .grid > * {
        min-height: 100vh;
    }

    .grid-container {
        position: relative;
        opacity: 0.3; /* makes the entire grid semi-transparent */
    }

    .grid-item img {
    opacity: 1; /* if you want the images fully opaque */
    }

    ktd-grid {
        z-index: 0;
    }

    ktd-grid-item {
        z-index: 0;
    }
</style>

<div class="grid" id="image-grid-container">
    <ktd-grid [cols]="cols"
            [backgroundConfig]="gridBackgroundConfig"
            [rowHeight]="rowHeight"
            [height]="height"
            [layout]="layout"
            [gap]="2"
            [selectedItemsIds]="selectedItems"
            (dragStarted)="onDragStarted($event)"
            (dragEnded)="onDragEnded($event)"
            (resizeStarted)="onResizeStarted($event)"
            (resizeEnded)="onResizeEnded($event)"
            (layoutUpdated)="onLayoutUpdated($event)"
            (click)="onGridClick($event)"
            >
        <ktd-grid-item 
        *ngFor="let item of layout; 
        trackBy:trackById"
        [id]="item.id"
        [ngClass]="{
                        'grid-item-content--selected': isItemSelected(item)
                    }"
        (pointerdown)="pointerDownItemSelection($event, item)"
        (pointerup)="pointerUpItemSelection($event, item)">
            <!-- Your grid item content goes here -->
            <!-- <img [src]="this.items[+item.id].src" style="width: 100%; height: 100%; object-fit: cover;"/> -->

            <ng-container *ngIf="item;">
                <img [src]="item.globalImg.lowResSrc" [alt]="item.globalImg.alt" style="width: 100%; height: 100%; object-fit: cover;" />
            </ng-container>

        </ktd-grid-item>
    </ktd-grid>
</div>
