header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1;
  height: 10vh;
  max-height: 100px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);

  // #TODO: Add transparency
  background: var(--theme-background-level-1);
  backdrop-filter: blur(10px);
  color: var(--theme-font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .title{
      display: flex;
      flex-direction: column;

      a{
        color: var(--theme-accent);
        text-decoration: none;
      }

      a:hover{
        text-decoration: underline;
      }

      h4{
        margin: 0;
      }
    }

    img{
      width: 45px;
      height: 55px;
    }
  }

  h1 {
    margin: 0;
  }

  .fab {
    mat-icon {
      font-size: 32px;
      width: 32px;
      height: 32px;
      transition: transform 0.3s ease-in-out;
      color: var(--theme-accent);
    }

    box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
    background-color: var(--theme-background-level-0);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}