app-header{
  height: 10vh;
  max-height: 100px;
  display: flex;
}

/* Style the colums */
.left-column {
  width: 25%;
  height: 90vh; /* Full height */
  position: fixed;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.center-column {
  width: 50%;
  height: 100vh; /* Full height */
  margin: 0 auto; /* Center the column */
  padding: 2vh 0 0 0;
}

.right-column {
  width: 25%;
  height: 90vh; /* Full height */
  position: fixed;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.drawer-button{
  display: none;
}

.image-picker{
  display: none;
}

/* On mobile: drawers act as slide-in modals */
@media screen and (max-width: 768px) {

  .center-column {
    width: 80vw;
  }

  .left-column{
    transform: translateX(-100%);
    width: 80vw;
    max-width: 300px;
    z-index: 10;
  }

  .right-column{
    transform: translateX(100%);
    width: 80vw;
    max-width: 300px;
    z-index: 10;
  }

  .left-column.show, .right-column.show {
    transform: translateX(0);
  }

  .open-right-column-button{
    position: absolute;
    left: -30px;
    margin-top: 12%;
    background-color: var(--theme-accent);
    border: none;
    border-radius: 15px 0 15px 15px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--theme-font);
  }

  .open-left-column-button{
    position: absolute;
    right: -30px;
    margin-top: 12%;
    background-color: var(--theme-accent);
    border: none;
    border-radius: 0 15px 15px 15px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--theme-font);
  }

  .image-picker{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
  }

  .add-icon{
    padding: 5px 15px;
    background-color: var(--theme-background-level-1);
    border-radius: 10px;
    color: var(--theme-accent);   
    align-items: center; 
    display: flex;
    justify-content: center;
    margin: 0;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
  }

  .add-image-button{
    height: 48px;
    background-color: var(--theme-accent) !important;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    box-shadow: var(--mat-button-protected-container-elevation-shadow);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--theme-background-level-1) !important;
    transition: all 0.2s ease-in-out;
  }

  .add-image-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}