.right-column {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 12%;
    margin-right: 5%;
    background-color: var(--theme-background-level-1);
    border-radius: 20px;
    max-height: 650px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, color 0.3s ease;

    // Mobile version
    @media only screen and (max-width: 768px) {
        height: 75%;
    }
}

.image-library {
    margin: 5%;
    margin-right: 2%;
    overflow-y: scroll;
    scrollbar-color: var(--theme-background-level-0) var(--theme-background-level-1);
    transition: background-color 0.3s ease, color 0.3s ease;
    transition: scrollbar-color 0.2s ease-out;
}

.image-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

    // Mobile version
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.image-library {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 5px;
}   

/* Each column */
.image-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

img{
    cursor: pointer;
}

.add-icon{
    padding: 5px 15px;
    background-color: var(--theme-background-level-1);
    border-radius: 10px;
    color: var(--theme-accent);   
    align-items: center; 
    display: flex;
    justify-content: center;
    margin: 0;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-image-button{
    height: 48px;
    background-color: var(--theme-accent) !important;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    box-shadow: var(--mat-button-protected-container-elevation-shadow);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--theme-background-level-1) !important;
    transition: all 0.2s ease-in-out;
    gap: 10px;
}

.add-image-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// #TODO: Fix color
mat-snackbar-container{
    background-color: #7EACEF !important;
    color: white !important;
}