<div class="right-column">
    <div class="image-library">
        <div class="image-column" *ngFor="let column of columns">
            <div class="image-item" *ngFor="let image of column">
            <img (click)="openImportPrompt(image)" [src]="image.lowResSrc" [alt]="image.alt" style="max-width: 100%; max-height: 100%;" />
            </div>
        </div>
    </div>
    <div class="image-picker">
        <button aria-label="add-image-button" matButton="elevated" class="add-image-button" (click)="importImages()">Add image<mat-icon class="add-icon">add</mat-icon></button>
    </div>
</div>